* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}

.form-container container-edit {

    justify-items: left;    

}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 15px;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 210px;
}


.form-container p {
    font-weight: bold;
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 20px;
}

.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-decoration: none;
    margin-bottom: 50px;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;

}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 22px;

}

.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    align-self: center;
}

.email-image img {
    width: 80px;
}

.resend {
    font-size: var(--sm);

}

.resend span {
    color: var(--very-light-pink);

}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 10px;
    place-content: center;
}

.product-card {
    width: 240px;
}

.product-card img{
    width: 100%;
    height: 240px;
    border-radius: 20%;
    object-fit: cover;
}

.product-info  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 25px;
    height: 25px;

    
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--very-light-pink);
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border:  1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 210px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    position: absolute;
    bottom: 10px;
}
.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

.desktop-menu {
    width: 150px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
    font-weight: normal;
}

.my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: start center;
    margin-top: 20px;
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    padding: 10px 24px 15px 24px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p:nth-child(2) {
    text-align: end;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.shooping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shooping-cart figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.shooping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}

.shooping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--very-light-pink);
 

}

nav .logo {
    display: inline;
    width: 100px;
    margin-bottom: 0;

}

.navbar-left {
    display: flex;
    margin-left: 12px;

}

.navbar-right {
    display: flex;

}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul,
.navbar-right li {
    list-style: none;
    display: flex;
    height: 60px;
    align-items: center;

}

.navbar-left ul li a,
.navbar-right li a {
     text-decoration: none;
     color: var(--very-light-pink);
     border: 1px solid var(--white);
     border-radius: 15%;
     padding: 8px;
 }

 .navbar-left ul a:hover,
 .navbar-right li a:hover {
      border: 1px solid var(--hospital-green);
      color: var(--hospital-green);
  }

  .navbar-email {
      color: var(--very-light-pink);
      font-size: var(--sm);
      margin-right: 10px;
  }

  .navbar-shooping-cart {
      position: relative;
      margin-right: 10px;
  }

  .navbar-shooping-cart div {
      width: 16px;
      height: 16px;
      background-color: var(--hospital-green);
      border-radius: 50%;
      font-size: var(--sm);
      font-weight: bold;
      position: absolute;
      top: 9px;
      right: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .product-detail {
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
  }
  .product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
  }

  .product-detail-close img {
    position: relative;
    top: -7px;
    left: -7px;
  }

  .product-detail-close:hover {
    cursor: pointer;
  }
  .product-detail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
  .product-detail-info {
    margin: 24px 24px 0 24px;
  }
  .product-detail-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-detail-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .product-detail-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
  }

  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media (max-width: 400px){
    .logo{
        display: block;
    }

    .product-card {
        width: 100px;
    }
    
    .product-card img{
        width: 100%;
        height: 100px;
        border-radius: 20%;
        object-fit: cover;
    }
    .cards-container {
            grid-template-columns: repeat(auto-fill, 100px);

    }

    .mobile-menu {
        padding: 24px;
    }

    .mobile-menu ul {
        list-style: none; 
        margin-bottom: 40px;       

    }

    .mobile-menu ul:nth-child(1) {
        border-bottom: 1px solid var(--very-light-pink);
    }

    .mobile-menu ul li {
        margin-bottom: 10px;       

    }

    .mobile-menu ul li a {
        text-decoration: none;
        color: var(--black);
        font-weight: bold;

    }

    .mobile-menu .email {
        font-size: var(--sm);
        font-weight: 300;
    }

    .mobile-menu .sign-out {
        font-size: var(--sm);
        color: var(--hospital-green);

    }

    .menu {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-right li:nth-child(1) {
        display: none;
    }

    .product-detail {
        width: 100%;
      }
}
    


